# Server Configuration
PORT=5000
ALLOWED_ORIGIN=http://localhost:5173

# Database Configuration
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/nimbusfs?retryWrites=true&w=majority

JWT_SECRET=your_jwt_secret_key_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_key_here

# File Storage Configuration
MAX_FILE_SIZE_MB=10

# Third-party Cloud Providers (Cloudinary)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Third-party Cloud Providers (Supabase)
SUPABASE_URL=your_supabase_project_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_BUCKET=nimbusfs-files

REDIS_URL=rediss://default:your_password@your_endpoint.upstash.io:6379

# Sharing Configuration
FRONTEND_URL=http://localhost:5173

# Encryption & Chunking Configuration
ENCRYPTION_KEY=your_64_hex_character_key_here
CHUNK_SIZE_KB=512
